.KJEWait {
  background-image: none !important;
  border: 0.3125rem solid #f3f3f3 !important;
  border-top: 0.3125rem solid #333333 !important;
  border-radius: 50% !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  -webkit-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#KJESplash {
  display: none; }

#KJEAllContent {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333333; }

.KJEFontHeading {
  color: #333333; }

.KJEError {
  color: #d9534f; }

.KJETitle {
  font-size: 19px;
  text-align: center;
  background-image: none; }

.KJECalculatorTable {
  background: none;
  border: none;
  box-shadow: none;
  padding-top: 2rem; }

#KJEReport {
  padding-top: 2rem; }

.KJECalculator {
  margin-top: .5rem; }

.KJEInputContainer:hover {
  background-color: #fff; }

.KJEInputContainer .KJEHelp:hover {
  color: #29b1cb; }

.KJEDrop, .KJEDroppee {
  background: none !important; }

.KJEDropper:hover {
  background-color: #fff; }

.KJEGraphDropper:hover {
  background-color: #eeeeff; }

.KJEInputContainer .help:hover {
  color: #333333; }

.KJEReportTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.KJEReportTitleBlock {
  text-align: center;
  padding: .625rem;
  margin-top: .3125rem;
  margin: .625rem;
  border-width: .0625rem;
  border-style: solid;
  border-color: black; }

.KJEWidthConstraint {
  max-width: 56.25rem;
  text-align: left;
  margin: auto;
  padding: .9375rem; }

.KJEWidthConstraint > h1 {
  display: none; }

.KJEWrapper, .KJEWidthConstraint, #KJEAllContent {
  background: none; }

.KJEWrapper {
  padding: 0;
  margin: 0; }

body {
  margin: 0; }

button.KJECloseButton {
  background: #333333; }

button.KJEDefinitionIcon:active, button.KJEDefinitionIcon:focus, button.KJEDefinitionIcon:hover, button.KJECloseButton:active, button.KJECloseButton:focus, button.KJECloseButton:hover {
  color: #333333; }

#KJEGuiDataPoint, div.KJEGuiDefnPopup {
  border: 0.0625rem solid #222222; }

div.KJEGuiDefnPopup:before {
  border-color: #222222 transparent; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: .83125rem 0; }

input[type=range]:focus {
  outline: none; }

.KJEInputContainer input[type=range]::-webkit-slider-thumb {
  height: .875rem;
  width: .875rem;
  border-left: .375rem solid transparent;
  border-right: .375rem solid transparent;
  border-bottom: 0.75rem solid #222222;
  -webkit-box-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.65625rem; }

.KJEInputContainer input[type=range]:active::-webkit-slider-thumb {
  border-left: .375rem solid transparent;
  border-right: .375rem solid transparent;
  border-bottom: 0.75rem solid rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: none; }

.KJEInputContainer input[type=range]::-moz-range-thumb {
  box-shadow: none;
  height: .875rem;
  width: .875rem;
  border-left: .375rem solid transparent;
  border-right: .375rem solid transparent;
  border-bottom: 0.75rem solid #222222;
  cursor: pointer; }

.KJEInputContainer input[type=range]:active::-moz-range-thumb {
  border-left: .375rem solid transparent;
  border-right: .375rem solid transparent;
  border-bottom: 0.75rem solid rgba(0, 0, 0, 0.8);
  box-shadow: none; }

.KJEInputContainer input[type=range]::-ms-thumb {
  box-shadow: none;
  height: .125rem;
  width: .125rem;
  border-left: .375rem solid transparent;
  border-right: .375rem solid transparent;
  border-bottom: 0.75rem solid #222222;
  border-top: 0;
  cursor: pointer; }

.KJEInputContainer input[type=range]:active::-ms-thumb {
  border-left: .375rem solid transparent;
  border-right: .375rem solid transparent;
  border-bottom: 0.75rem solid rgba(0, 0, 0, 0.8);
  box-shadow: none; }

/*Buttons*/
#KJECommandButtons {
  z-index: 10;
  width: auto; }

.KJECommandButton {
  display: block;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .KJECommandButton:focus, .KJECommandButton.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  .KJECommandButton:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .KJECommandButton:active, .KJECommandButton.active,
  .open > .KJECommandButton.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
    .KJECommandButton:active:hover, .KJECommandButton:active:focus, .KJECommandButton:active.focus, .KJECommandButton.active:hover, .KJECommandButton.active:focus, .KJECommandButton.active.focus,
    .open > .KJECommandButton.dropdown-toggle:hover,
    .open > .KJECommandButton.dropdown-toggle:focus,
    .open > .KJECommandButton.dropdown-toggle.focus {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c; }
  .KJECommandButton:active, .KJECommandButton.active,
  .open > .KJECommandButton.dropdown-toggle {
    background-image: none; }
  .KJECommandButton.disabled:hover, .KJECommandButton.disabled:focus, .KJECommandButton.disabled.focus, .KJECommandButton[disabled]:hover, .KJECommandButton[disabled]:focus, .KJECommandButton[disabled].focus,
  fieldset[disabled] .KJECommandButton:hover,
  fieldset[disabled] .KJECommandButton:focus,
  fieldset[disabled] .KJECommandButton.focus {
    background-color: #fff;
    border-color: #ccc; }
  .KJECommandButton .badge {
    color: #fff;
    background-color: #333; }
  .KJECommandButton:focus, .KJECommandButton.focus, .KJECommandButton:active:focus, .KJECommandButton:active.focus, .KJECommandButton.active:focus, .KJECommandButton.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .KJECommandButton:hover, .KJECommandButton:focus, .KJECommandButton.focus {
    color: #333;
    text-decoration: none; }
  .KJECommandButton:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    transition: all .5s; }
  .KJECommandButton:active, .KJECommandButton.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .KJECommandButton.disabled, .KJECommandButton[disabled],
  fieldset[disabled] .KJECommandButton {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

#KJECalculate {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  #KJECalculate:focus, #KJECalculate.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  #KJECalculate:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  #KJECalculate:active, #KJECalculate.active,
  .open > #KJECalculate.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
    #KJECalculate:active:hover, #KJECalculate:active:focus, #KJECalculate:active.focus, #KJECalculate.active:hover, #KJECalculate.active:focus, #KJECalculate.active.focus,
    .open > #KJECalculate.dropdown-toggle:hover,
    .open > #KJECalculate.dropdown-toggle:focus,
    .open > #KJECalculate.dropdown-toggle.focus {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c; }
  #KJECalculate:active, #KJECalculate.active,
  .open > #KJECalculate.dropdown-toggle {
    background-image: none; }
  #KJECalculate.disabled:hover, #KJECalculate.disabled:focus, #KJECalculate.disabled.focus, #KJECalculate[disabled]:hover, #KJECalculate[disabled]:focus, #KJECalculate[disabled].focus,
  fieldset[disabled] #KJECalculate:hover,
  fieldset[disabled] #KJECalculate:focus,
  fieldset[disabled] #KJECalculate.focus {
    background-color: #fff;
    border-color: #ccc; }
  #KJECalculate .badge {
    color: #fff;
    background-color: #333; }

#KJEViewReport {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }
  #KJEViewReport:focus, #KJEViewReport.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40; }
  #KJEViewReport:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
  #KJEViewReport:active, #KJEViewReport.active,
  .open > #KJEViewReport.dropdown-toggle {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
    #KJEViewReport:active:hover, #KJEViewReport:active:focus, #KJEViewReport:active.focus, #KJEViewReport.active:hover, #KJEViewReport.active:focus, #KJEViewReport.active.focus,
    .open > #KJEViewReport.dropdown-toggle:hover,
    .open > #KJEViewReport.dropdown-toggle:focus,
    .open > #KJEViewReport.dropdown-toggle.focus {
      color: #fff;
      background-color: #204d74;
      border-color: #122b40; }
  #KJEViewReport:active, #KJEViewReport.active,
  .open > #KJEViewReport.dropdown-toggle {
    background-image: none; }
  #KJEViewReport.disabled:hover, #KJEViewReport.disabled:focus, #KJEViewReport.disabled.focus, #KJEViewReport[disabled]:hover, #KJEViewReport[disabled]:focus, #KJEViewReport[disabled].focus,
  fieldset[disabled] #KJEViewReport:hover,
  fieldset[disabled] #KJEViewReport:focus,
  fieldset[disabled] #KJEViewReport.focus {
    background-color: #337ab7;
    border-color: #2e6da4; }
  #KJEViewReport .badge {
    color: #337ab7;
    background-color: #fff; }

button.KJEDefinitionIcon {
  background: #1a456c; }

/*Override javascript*/
#KJE-D-INPUTS, #KJE-E-INPUTS {
  background: none !important; }

.KJEFontHeading {
  color: #333333; }

.KJEError {
  color: #d9534f; }

.KJESubTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: normal; }

.KJEToggleTitle {
  font-size: 18px; }

.KJETitle .KJEFooter {
  display: none; }

.KJEGraphIcon {
  background-repeat: no-repeat;
  background-position: top left;
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAYAAACpUE5eAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASNJREFUeNqUU7ENwkAMTCIauowATMAGwASICUJqCsgEjIBSUAMTBCYIbBAWgGxAOlrO0b1kmSQIS37/v+2z3/b7Xge996MdxBic8ErORX/1SNp8gg6wAUTIY0QWCqlrJL8BaAkxV2AleMr9FezAKvAF2R5bAQF2gFh6/9ERoPEX4A8wXcNOUB9A8rScxS/4lLF6cu1AqQNWtA+V76yHZcuL2NXDBPEaMq+dYV+pussLt5LhS4oN5aKhy08eZ5Q55RD2pbHPpHkBU77boiiHM/YSUDp8NjpNghEGrMWkZQ6Fbur6ZnSaBKMSwFRShdFGgUnWmctQObl9Rhtnv+GsprbLpRnk2A6uaoAe9IFrlG8MI/U7UoAVLd9Sgq/Vrzm5wB8BBgBGcHZ0qxMuUQAAAABJRU5ErkJggg==);*/ }

.KJEInputIcon {
  background-repeat: no-repeat;
  background-position: top left;
  background-image: none;
  /* Sets an image next to the [+] or [-]
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHdJREFUeNpiYCACfJ+qVADEATA+IxEa5gOpBCg3kTP73gJGEjTAQCATiRpAQIGRRA0LgM5LZCRVA0ZAEKMBRROxGkAAOSAciNGArikQiA8Q0gBzlgAQr4eyHYD4PtSpeCMwAYj/wzQSA1hAkQVKHkC8gVhNAAEGAMMTPBsVMAuAAAAAAElFTkSuQmCC);*/ }

#KJE-E-INPUTS input {
  border-radius: 4px;
  color: #333333; }

.KJEInputContainer .KJEArrow {
  width: .625rem;
  height: .625rem;
  background-repeat: no-repeat;
  background: #333333;
  /*Change color of the slider dot*/
  border-radius: 4px;
  top: .8125rem !important;
  border: none; }

.KJEInputContainer .KJEArrow.active {
  /*background: #f7941e; Change color of the slider dot when active*/
  cursor: pointer;
  border: none; }

.KJEInputContainer:hover {
  background-color: #fff; }

.KJEDropper:hover {
  background-color: #fff; }

.KJEGraphDropper:hover {
  background-color: #eeeeee; }

.KJEInputContainer .help:hover {
  color: #333333; }

/*Report tables*/
.KJEDefinitions .KJEReportTableDiv,
.KJEReportTableDiv, .KJEScheduleDiv {
  border: none;
  box-shadow: none; }

table.KJEReportTable, table.KJEScheduleTable {
  background: none; }

table.KJEReportTable tr.KJEHeaderRow {
  /*background-color: #fbb040; Change table header background color*/
  background: none;
  text-align: center;
  border: none; }

table.KJEReportTable tr.KJEFooterRow {
  background-color: #cccccc;
  text-align: right;
  border: none; }

table.KJEReportTable tr.KJEFooterRow:hover {
  background-color: inherit;
  /*Row color hover*/
  background: none;
  color: #333333; }

table.KJEReportTable tr.KJEEvenRow {
  background-color: #eeeeee;
  text-align: right; }

table.KJEReportTable tr.KJEEvenRow:hover {
  background-color: #eeeeee;
  /*Row color hover*/
  color: #333333; }

table.KJEReportTable tr.KJEOddRow {
  background-color: #fff;
  text-align: right; }

table.KJEReportTable tr.KJEOddRow:hover {
  color: #333333;
  background: none; }

table.KJEReportTable td.KJECell:hover {
  color: #333333;
  /*background-color: #f7941e;  Change cell hover color */
  background: none; }

table.KJEReportTable .KJELabel:hover {
  color: #333333;
  /*background-color: #f7941e;  Change cell hover color */
  background: none; }

table.KJEReportTable td.KJECellStrong:hover {
  color: #333333;
  /*background-color: #f7941e;  Change cell hover color */
  background: none; }

table.KJEReportTable td.KJECellSpecial:hover {
  color: #333333;
  /* background-color: #f7941e; Change cell hover color */
  background: none; }

/*
Rows and Cells used in the schedule table
*/
table.KJEScheduleTable tr.KJEScheduleHeaderRow {
  /*background-color: #fbb040; Header background color*/
  background: none;
  border-color: #cccccc;
  text-align: right;
  border: none; }

.KJEScehduleTable th {
  background-color: #cccccc;
  border: none; }

table.KJEScheduleTable tr.KJEScheduleEvenRow {
  background-color: inherit;
  text-align: right;
  border: none; }

table.KJEScheduleTable tr.KJEScheduleEvenRow:hover {
  /*background-color: #f9bd6e; Change row hover color*/
  background-color: inherit; }

table.KJEScheduleTable tr.KJEScheduleOddRow {
  background-color: inherit;
  text-align: right; }

table.KJEScheduleTable tr.KJEScheduleOddRow:hover {
  /*background-color: #f9bd6e;  Change row hover color*/
  background: none; }

table.KJEScheduleTable td.KJEScheduleCell:hover {
  color: #333333;
  background-color: inherit; }

body {
  margin: 0; }

/* Graph */
#KJE-C-GRAPH1 .KJEGraphDropper:hover {
  background: #f7f7f7;
  /* This should match the 2nd color in the color list of the KJESiteSpecific.js*/ }

.KJEToggleIcon {
  background: none;
  /* Graph Icon */ }