// Buttons and their states when inside a .content area
// ===================================================================================
.content {
	.btn {
		&,&.btn-primary {

			&:hover {

			}
			&:active {

			}
		}
		&.btn-secondary {
			&:hover {

			}
			&:active {

			}
		}
		&.btn-info {
			&:hover {

			}
			&:active {

			}
		}
		&.btn-success {
			&:hover {

			}
			&:active {

			}
		}
		&.btn-warning {
			&:hover {

			}
			&:active {

			}
		}
		&.btn-danger {
			&:hover {

			}
			&:active {

			}
		}
		&.btn-inverse {
			
			&:hover {

			}
			&:active {

			}
		}
		&.btn-large {
			font-size:120%;
			padding:10px 30px;
		}
		&.btn-small {
			font-size:94%;
		}
		&.btn-mini {
			font-size:90%;
			padding:4px 10px;
		}
	}
}