.form-container,.online-banking-container,.search-results-form {
	form {

	}
	label {
		font-weight:normal;
	}
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {

	}
	input [type="radio"] {

	}
	input [type="select"] {
		
	}
	select {

	}
	textarea {

	}
	.parsley-errors-list  {
		list-style-type: none;
		padding-left:0;
		color:$red;
		font-size:$font-size-base - 3;
	}
	.form-control {

	}
	.btn {
		position:relative;
		.loading {
			position:absolute;
			right:-30px;
			top:50%;
			margin-top:-12px;
			padding:0;
		}
		.error {
			position:absolute;
			right:0;
			bottom:-30px;
		}
	}
}
.success-container {
	clear:both;
	min-height:200px;
	display:none;
	@extend .clearfix;
}