.panel-group {
	margin-top:20px;
	.panel-heading {
		cursor:pointer;
		&:hover {
			background:$gray-600;
		}
		@extend h4;
		padding:0;
		div[data-toggle="collapse"] {
			display:block;
			padding:10px 45px 10px 15px;
			position:relative;
			&:after {
				content:"+";
				position:absolute;
				right:10px;
				top:8px;
				line-height: 1;
				font-size:105%;
			}
			&[aria-expanded="true"] {
				&:after {
					content:"\2013";
				}
			}
		}
	}
	.panel-body {
		padding:20px;
	}
}