// Main Full-width hero slider
// =================================================
.hero__slider {
	div[data-content="content"] {
		h1,h2,h3,h4,h5,h6 {

		}
		h1 {
			color:$h1-font-size + 5;
		}
		h2 {
			color:$h2-font-size + 5;	
		}
		h3 {
			color:$h3-font-size + 5;	
		}
		h4 {
			color:$h4-font-size + 5;	
		}
		h5 {
			color:$h5-font-size + 5;	
		}
		h6 {
			color:$h6-font-size + 5;	
		}
		div, p {

		}
		.btn {

		}
	}
	.hero__slide {
		position:relative;
	}
	.hero__image {
		img {
			min-width:100%;
			@include media-breakpoint-down(sm) {
				min-height:400px;
				max-width:none;
			}
			// @include media-breakpoint-down(xs) {
			// 	position:relative;
			// 	margin-left:-200px;
			// }
		}
	}
	.hero__caption {
		@include media-breakpoint-up(sm) {
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			//right:50%;
		}
		.container {
			position:relative;
			height:100%;
			margin:0 auto;
		}
		.content {
			@include media-breakpoint-up(sm) {
				padding:20px 0;
				@include vertical-align(absolute);
			}
		}
	}
	.slick-dots {
		bottom:-40px;
		li {
			button {
				background:$gray-600;
				border-radius:100%;
				&:before {
					color:transparent;
				}
			}
			&.slick-active {
				button {
					background:$secondary;
				}
			}
		}
	}
}

// Four block sub ad features slider section
// =================================================
.subads__container {
	.subads__slider {
		.subads__slide {
			.subads__image {
				.subads__image__overlay {

				}
			}
			.subads__content {
				.inside {

				}
				div[data-content="content"] {

				}
			}
		}
	}
	.swiper {
		display:none;
		@include media-breakpoint-down(xs) {
			display:block;
			text-align:center;
			padding:20px;
			&:before {
				content:"Swiper for More";
			}
		}
	}
}