// Main Full-width hero slider
// =================================================
.hero__slider {
	margin-bottom:0;
	min-height:200px;
	div[data-content="content"] {
		h1,h2,h3,h4,h5,h6 {

		}
		h1 {
			color:$h1-font-size + 5;
		}
		h2 {
			color:$h2-font-size + 5;	
		}
		h3 {
			color:$h3-font-size + 5;	
		}
		h4 {
			color:$h4-font-size + 5;	
		}
		h5 {
			color:$h5-font-size + 5;	
		}
		h6 {
			color:$h6-font-size + 5;	
		}
		div, p {

		}
		.btn {

		}
	}
	.hero__slide {
		position:relative;
	}
	.hero__image {
		img {
			min-width:100%;
			@include media-breakpoint-down(sm) {
				min-height:400px;
				max-width:none;
			}
			@include media-breakpoint-down(xs) {
				height:200px;
				max-width:none;
				margin-left:-20px;
			}
		}
	}
	.hero__caption {

		//@include media-breakpoint-up(sm) {
			position:absolute;
			max-width:680px;
			top:0;
			bottom:0;
			left:0;
			right:0;
			//right:50%;
		//}
		.container {
			position:relative;
			height:100%;
			margin:0 auto;
		}
		.content {
			background: -moz-linear-gradient(0% 50% 0deg,rgba(3, 160, 12, 1) 0%,rgba(3, 160, 12, 0.1) 100%);
			background: -webkit-linear-gradient(0deg, rgba(3, 160, 12, 1) 0%, rgba(3, 160, 12, 0.1) 100%);
			background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(3, 160, 12, 1) ),color-stop(1,rgba(3, 160, 12, 0.1) ));
			background: -o-linear-gradient(0deg, rgba(3, 160, 12, 1) 0%, rgba(3, 160, 12, 0.1) 100%);
			background: -ms-linear-gradient(0deg, rgba(3, 160, 12, 1) 0%, rgba(3, 160, 12, 0.1) 100%);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#03A00C', endColorstr='#03A00C' ,GradientType=0)";
			background: linear-gradient(90deg, rgba(3, 160, 12, 1) 0%, rgba(3, 160, 12, 0.1) 100%);
			opacity: 0.75;
			filter: alpha(opacity=75) progid:DXImageTransform.Microsoft.Alpha(opacity=75) progid:DXImageTransform.Microsoft.gradient(startColorstr='#03A00C',endColorstr='#03A00C' , GradientType=1);
			@include vertical-align(absolute);
			padding:20px;
			@include media-breakpoint-up(sm) {
				padding:60px 90px;
				padding-left:10%;
			}
			h1 {
				font-size:45px;
				@include media-breakpoint-down(xs) {
					font-size:26px;
				}
			}
			h1,h2,h3,h4,h5,h6 {
				font-family:$sedgewick;
				color:$white;
			}
			hr {
				border-color:$white;

			}
		}
	}
	.slick-dots {
		bottom:-40px;
		li {
			button {
				background:$gray-600;
				border-radius:100%;
				&:before {
					color:transparent;
				}
			}
			&.slick-active {
				button {
					background:$secondary;
				}
			}
		}
	}
}

// Four block sub ad features slider section
// =================================================
.subads__container {
	.subads__slider {
		.subads__slide {
			.subads__image {
				.subads__image__overlay {

				}
			}
			.subads__content {
				.inside {

				}
				div[data-content="content"] {

				}
			}
		}
	}
	.swiper {
		display:none;
		@include media-breakpoint-down(xs) {
			display:block;
			text-align:center;
			padding:20px;
			&:before {
				content:"Swiper for More";
			}
		}
	}
}