<!-- @if NODE_ENV=='live' -->
<?php 
$page_title = "401 Error";
$page_description = "Sorry, but you are not authorized to view this plage. Please return home and try your selection again.";
$page_keywords = "prosthetics, ocular, eyes, nashville, health, vision";
include('includes/top-404.php'); ?>
<!-- @endif -->
<!-- @if NODE_ENV!='live' -->
{{> partials/top-404}}
<!-- @endif -->

<body class="subpage error-page">
	<div class="master-container">

		<!-- @if NODE_ENV=='live' -->
		<?php include('includes/header.php'); ?>
		<!-- @endif -->
		<!-- @if NODE_ENV!='live' -->
		{{> partials/header}}
		<!-- @endif -->

		<div class="container">
			<div class="spacer-40"></div>
			<div id="main" tabindex="-1" class="error-page-body">
					<div class="content">
						<h2>Error 401 - Unauthorized</h2>
						<p>Sorry, but you are not authorized to view this plage. Please return <a href="/">home</a> and try your selection again.</p>
					</div>
			</div>
		</div>

		<!-- @if NODE_ENV=='live' -->
		<?php include('includes/footer.php'); ?>
		<!-- @endif -->
		<!-- @if NODE_ENV!='live' -->
		{{> partials/footer}}
		<!-- @endif -->

	</div>

	<!-- @if NODE_ENV=='live' -->
	<?php include('includes/scripts.php'); ?>
	<!-- @endif -->
	<!-- @if NODE_ENV!='live' -->
	{{> partials/scripts}}
	<!-- @endif -->

</body>
</html>
