{{> partials/top}}
<body class="subpage calculator">
  {{> partials/compliance}}
  <div class="master-container">

    {{> partials/header}}

    <div class="container">

      {{> partials/nav}}

      {{> blocks/banner-image}}

      <div id="main" tabindex="-1">
          <banno:calculator data-calculator="{{page.url}}"></banno:calculator>
          <!-- @if NODE_ENV!='production' --> 
              {{>partials/calculator}}
          <!-- @endif -->
      </div>

    </div>

    {{> partials/footer}}

  </div>

  {{> partials/scripts}}

</body>
</html>
