{{> partials/top}}
<body class="subpage form">
  {{> partials/compliance}}
  <div class="master-container">

    {{> partials/header}}

    <div class="container">

      {{> partials/nav}}

      <div id="main" tabindex="-1">
          <h1 class="page-title">{{page.title}}<!-- @if NODE_ENV!='production' -->Contact Us<!-- @endif --></h1>
          <div class="row">
            <div class="col-lg-9 col-md-7">
              <!-- Start of Form Markup -->
                <div class="ajax-form-container">
                  <div class="form-container">
                    <form id="contactUs" data-parsley-validate name="contactForm" class="ajax-form">
                      <input type="hidden" name="formId" value="contactUs" class="form-id-input">
                      <div class="form-group">
                        <label for="firstName">First Name<span>*</span></label>
                        <input type="text" class="form-control" name="person.firstName" id="firstName" required>
                      </div>

                      <div class="form-group">
                        <label for="lastName">Last Name<span>*</span></label>
                        <input type="text" class="form-control" name="person.lastName" id="lastName" required>
                      </div>

                      <div class="form-group">
                        <label for="address">Address<span>*</span></label>
                        <input type="text" class="form-control" name="address.street" id="address" required>
                      </div>

                      <div class="form-group">
                        <label for="city">City<span>*</span></label>
                        <input type="text" class="form-control" name="address.city" id="city" required>
                      </div>

                      <div class="form-group">
                        <label for="state">State<span>*</span></label>
                        <input type="text" class="form-control" name="address.state" id="state" required>
                      </div>

                      <div class="form-group">
                        <label for="zip">Zip<span>*</span></label>
                        <input type="text" data-parsley-type="number" data-parsley-minlength="5" class="form-control" name="address.zip" id="zip" required>
                      </div>

                      <div class="form-group">
                        <label for="phone">Phone<span>*</span></label>
                        <input type="tel" data-parsley-minlength="10" data-parsley-type="phone" class="form-control" name="info.phone" id="phone" required>
                      </div>

                      <div class="form-group">
                        <label for="email">Email<span>*</span></label>
                        <input type="email" data-parsley-type="email" class="form-control" name="info.email" id="email" required>
                      </div>

                      <div class="form-group">
                        <p>Preferred Method of Contact</p>
                        <div class="radio">
                          <label for="preferredContactEmail">
                            <input type="radio" id="preferredContactEmail" value="Email" name="preferredContact" class="" checked> Email
                          </label>
                        </div>
                        <div class="radio">
                          <label for="preferredContactPhone">
                            <input type="radio" id="preferredContactPhone" value="Phone" name="preferredContact" class=""> Phone
                          </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="best">Best time to contact?</label>
                        <input type="text" class="form-control" name="bestTime" id="best" required>
                      </div>

                      <div class="form-group">
                        <label for="yourMessage">Your Message</label>
                        <textarea name="message" id="yourMessage" class="form-control" rows="5"></textarea>
                      </div>

                      <div class="form-group">
                        <div class="required pull-left">
                          <label><span>*</span> Required</label>
                        </div>
                        <banno:captcha></banno:captcha>
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                      </div>

                      <div class="form-group">
                        <div class="loading hide">
                          <div class="loading-inner"></div>
                        </div>
                        <div style="color: red; " class="error hide">There was an error submitting the form</div>
                      </div>

                    </form>
                  </div>
                  <div class="success-container">
                    <div class="content" data-content-block="successCopy" data-content="content" data-editable="editable">
                      {{#page.successCopy}}
                        {{& content}}
                      {{/page.successCopy}}
                      <!-- @if NODE_ENV!='production' --> 
                        <h4>Thank you for your submission!</h4><p>We will be in touch with you soon.</p>
                      <!-- @endif -->
                    </div>
                  </div>
                </div>
                <!-- End of Form Markup  -->
            </div>
            <div class="col-lg-3 col-md-5">
               <div class="content" data-content-block="bodyCopy2" data-content="content" data-editable="editable">
                {{#page.bodyCopy2}}
                  {{& content}}
                {{/page.bodyCopy2}}

                <!-- @if NODE_ENV!='production' --> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur explicabo quod incidunt quo cupiditate voluptates! Veniam sunt repellendus maiores, odio repellat inventore consectetur quaerat aliquam illum qui. Adipisci quis quidem et sit dolores. Eveniet veniam, voluptates accusantium maiores, nesciunt harum.</p>     
                <!-- @endif -->

              </div>
            </div>

          </div>

      </div>

    </div>

      {{> partials/footer}}

  </div>

  {{> partials/scripts}}

  {{> partials/ga}}

</body>
</html>
