{{> partials/top}}
<body class="home">
  {{> partials/compliance}}
  <div class="master-container">
    {{> partials/alert}}
    
    {{> partials/header}}

      <div class="container">
          {{> partials/nav}}
      </div>
      
      <div id="main" tabindex="-1">

          {{> blocks/banner-video }}

          <div class="container">
                <hr>

                {{> blocks/accordion}}

                <hr>

                {{> blocks/tabs}}

                <hr>

                {{> blocks/slider-subads}}

                <hr>


                <div class="row">
                  <div class="col-lg-4 col-sm-6">
                    <h2>Stocks</h2>
                    {{> components/stocks}}
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <h2>Weather</h2>
                    {{> components/weather}}
                  </div>
                  <div class="col-lg-4 visible-lg-inline">
                    <h2>Ag</h2>
                    {{> components/ag}}
                  </div>
                </div>

          </div>
        
      </div>

    {{> partials/footer}}

  </div>

  {{> partials/scripts}}

</body>
</html>
