{{> partials/top}}
<body class="home">
	<div class="master-container">
		
		{{> partials/header}}

			<div class="container">
					{{> partials/nav}}
			</div>
			
			<div id="main" tabindex="-1" role="main">

					{{> blocks/banner-video }}

					<div class="container">
								<hr>

								{{> blocks/accordion}}

								<hr>

								{{> blocks/tabs}}

								<hr>

								{{> blocks/slider-subads}}

								<hr>
					</div>
				
			</div>

		{{> partials/footer}}

	</div>

	{{> partials/scripts}}

</body>
</html>
