{{> partials/top}}
<body class="subpage">
  <div class="master-container">

    {{> partials/header}}
    
    <div class="container">
      <div class="spacer-40"></div>
      <div id="main" tabindex="-1" role="main">
        <h1 class="page-title">Ocular Prosthetics 101</h1>
        <div class="row">
          <div class="col-lg-8 col-md-7 left-column">
            <div class="content">
                  <p class="biggest">The following is important information you will want to know about your custom made prosthesis. The suggestions and recommendations are for the average patient. Any special instructions your Doctor or Ocularist gives you should take precedence.</p>
                  <ul class="list-unstyled">
                    <li>
                      <h4>What is my prosthesis made of?</h4>
                      <ul class="list-unstyled">
                        <li>Your custom made ocular prosthesis is made of very fine plastic that can be molded, painted and polished to create a realistic and comfortable artificial eye or prosthesis.  The plastic is light in weight, yet tough enough to resist breakage if dropped.  If the plastic is accidently scratched, your ocularist can repolish it. </li>
                      </ul>
                    </li>
                    <li>
                      <h4>Will my prosthesis cause changes in my socket ?</h4>
                      <ul class="list-unstyled">
                        <li>Socket changes may take place which will necessitate adjustments in the size and shape of the prosthesis. This can often be accomplished on the same eye, especially for young children when a change due to growth must be made.</li>
                      </ul>
                    </li>
                    <li>
                      <h4>What can I expect from my prosthesis?</h4>
                      <ul class="list-unstyled">
                        <li>Socket changes may take place which will necessitate adjustments in the size and shape of the prosthesis. This can often be accomplished on the same eye, especially for young children when a change due to growth must be made.</li>
                      </ul>
                    </li>
                    <li>
                      <h4>How will I compensate and have better vision?</h4>
                      <ul class="list-unstyled">
                        <li>To compensate for a smaller field of vision, learn to turn your head more frequently. This will allow you to see as much (if not more) as you did before.</li>
                      </ul>
                    </li>
                    <li>
                      <h4>Will I be able to drive my car?</h4>
                      <ul class="list-unstyled">
                        <li>If your remaining eye has good vision, you may still be able to get a drivers license. You may have to take the driving test more often. However, to gain a wider field of vision, you should learn to use your rear view and outside mirrors more. Also turn your head more often.</li>
                      </ul>
                    </li>
                    <li>
                      <h4>What should I do to protect my remaining eye?</h4>
                      <ul class="list-unstyled">
                        <li>Safety glasses are strongly recommended, even though you may not need correctional lenses. These are especially important for children.</li>
                      </ul>
                    </li>
                    <li>
                      <h4>How do I clean my prosthesis?</h4>
                      <ul class="list-unstyled">
                        <li>Baby shampoo and warm water are recommended for cleaning. The eye should be scrubbed well with the thumb and forefinger.</li>
                      </ul>
                    </li>
                    <li>
                      <h4>How often should I remove my prosthesis?</h4>
                      <ul class="list-unstyled">
                        <li>Your prosthesis is designed to be worn day and night.  The less handling, the better. Only in rare cases or if you are wearing a scleral cover shell, should the prosthesis be removed at night. Although it is not usually necessary to remove the prosthesis at all, there may be instances when the eye must be removed every day for cleaning.  Surface deposits, scratches, pits or any roughness can cause irritation which invites infection of the socket. If after several years of wear, you find you have an increased amount of secretion, the eye has probably reached its age limit and a new one will be necessary.</li>
                      </ul>
                    </li>
                    <li>
                      <h4>How often should I get my prosthesis checked?</h4>
                      <ul class="list-unstyled">
                        <li>Your eye should be checked every six months to once a year by your Ocularist to determine that there are no scratches, surface deposits or changes necessary. This is also an important appointment for assessing the condition of socket anatomy. Children under eight years of age should have checkups more frequently.</li>
                      </ul>
                    </li>
                  </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 right-column">
            <div class="content">
                <div class="image">
                    <img src="/assets/img/before-eye-1.jpg" alt="Before After Eye 1">
                    <div class="caption"><a href="/testimonials" title="See Before and afters link 1">See before and afters</a></div>
                </div>
                <div class="image">
                    <img src="/assets/img/before-eye-2.jpg" alt="Before After Eye 2">
                    <div class="caption"><a href="/testimonials" title="See Before and afters link 2">See before and afters</a></div>
                </div>
                <div class="image">
                    <img src="/assets/img/before-eye-3.jpg" alt="Before After Eye 3">
                    <div class="caption"><a href="/testimonials" title="See Before and afters link 3">See before and afters</a></div>
                </div>

            </div>
          </div>
          <div class="spacer-20"></div>
          <div class="col-sm-12 content">
              <h2><strong>Important Points to Remember</strong></h2>
              <div class="row">
                <div class="col-sm-6">
                  <ul>
                    <li>Never leave the eye in a piece of tissue. This is the easiest way to lose it. If you swim, while diving underwater, keep your eyes closed. Watch out for the surf when swimmimg in the ocean. Goggles are a good idea.</li>
                    <li>Use only recommended cleaner and water in cleaning the prosthesis, unless otherwise directed by your Doctor or Ocularist.</li>
                    <li>Always wipe the eye towards the nose, wiping outward can dislodge it or cause it to come out.</li>
                    <li>Always practice extreme cleanliness when handling your prosthesis.</li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul>
                    <li>Cold weather, hot weather, dry weather and wind all tend to evapoate moisture on the surface of the eye and make blinking difficult.</li>
                    <li>Consult your Doctor or Ocularist immediately if trouble arises.</li>
                    <li>Have your sighted eye checked regularly by your Opthalmologist.</li>
                    <li>Have your eyes checked at least once a year.</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="spacer-60"></div>

    </div>

      {{> partials/footer}}

  </div>

  {{> partials/scripts}}

</body>
</html>
