{{> partials/top}}
<body class="subpage">
  <div class="master-container">

    {{> partials/header}}
    
    <div class="container">
      <div class="spacer-40"></div>
      <div id="main" tabindex="-1" role="main">
        <div class="row">
          <div class="col-sm-6 left-column">
            <h1 class="page-title">Before &amp; Afters</h1>
            <div class="content">
              <p class="biggest">
                Our customers mean the world to us. Here are a few pictures from some recent happy customers. 
              </p>
            </div>
            <div class="beforeAfter__container">
                <div class="beforeAfter__item">
                  <div class="before">
                      <p>Before</p>
                      <img src="/assets/img/eye1-before.jpg" alt="Eye 1 Before Photo">
                  </div>
                  <div class="after">    
                      <p>After</p>
                      <img src="/assets/img/eye1-after.jpg" alt="Eye 1 After Photo">
                  </div>
                </div>

                <div class="beforeAfter__item">
                  <div class="before">
                      <p>Before</p>
                      <img src="/assets/img/eye2-before.jpg" alt="Eye 2 Before Photo">
                  </div>
                  <div class="after">    
                      <p>After</p>
                      <img src="/assets/img/eye2-after.jpg" alt="Eye 2 After Photo">
                  </div>
                </div>

                <div class="beforeAfter__item">
                  <div class="before">
                      <p>Before</p>
                      <img src="/assets/img/eye3-before.jpg" alt="Eye 3 Before Photo">
                  </div>
                  <div class="after">    
                      <p>After</p>
                      <img src="/assets/img/eye3-after.jpg" alt="Eye 3 After Photo">
                  </div>
                </div>
                
            </div>
          </div>
          <div class="col-sm-6 right-column">
            <h2 class="h1 page-title">Testimonials</h2>
            <div class="content">
              <p class="biggest">
                Our customers mean the world to us. Here are a few comments from some recent happy customers. 
              </p>
            </div>
            <div class="testimonials__container">
              <blockquote class="odd">"Steve is a wonderful person and a trusted professional. Monique is always helpful and extremely nice.""
                <cite>T.W. of TN</cite></blockquote>

              <blockquote class="even">“When I received my artifical eye I was astonished at how much it resembled my good eye. The care I received from Chesley and Mr. Sanders was outstanding.”
                <cite>J.J. of TN</cite></blockquote>

              <blockquote class="odd">“Chesley was very friendly and took time to speak with me about all my questions.”
                <cite>C.C. of TN</cite></blockquote>

              <blockquote class="even">“People don’t realize it is artificial. A very pleasant visit each and every time. I appreciate you.”
                <cite>L.D. of TN</cite></blockquote>

              <blockquote class="odd">“My artificial eye blends with my normal eye, the way it looks and the way it moves. I have gotten many compliments after I tell them about my eye surgery. I love your warmth and the timely service. Thanks! 
                <cite>E.W. of TN</cite></blockquote>

              <blockquote class="even">“Steve Sanders did a great job, thank you very much.”
                <cite>D.P. of TN</cite></blockquote>

              <blockquote class="odd">“No complaints what so ever, excellent work the best eye anyone could have.”
                <cite>G.B. of TN</cite></blockquote>

              <blockquote class="even">“S. Sanders is an easy person to talk with and he has done, in my opinion, and excellent job of creating a beautiful eye and surrounding “fill” for a natural look. I appreciate his dedication to perfection and service to the extended “ocular” community”. <cite>S.C. of TN</cite></blockquote>

              <blockquote class="odd">“Without my prosthesis, my self-esteem and confidence would be low- it is very natural looking and this has been a positive outcome for a bad situation.” <cite>W.V. of TN</cite></blockquote>

              <blockquote class="even">“I have always been satisfied with Stephen Sanders friendly services.” <cite>J.M. of TN</cite></blockquote>

              <blockquote class="odd">“There are times when there are other clients waiting but the staff have a way of making you feel as if you are the only one. That level of care translate throughout the office.” <cite>R.L. of TN</cite></blockquote>

              <blockquote class="even">“Mr. Sanders has a very pleasant persona and was very efficient.” <cite>M.S. of KY</cite></blockquote>
            </div>
          </div>
          <div class="spacer-20"></div>
          <div class="col-sm-12 content">
              <h2><strong>Lorem ipsum dolor sit.</strong></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eos perferendis debitis laboriosam sed doloribus cumque, recusandae quidem, sequi quos quas necessitatibus autem ipsam eius quam quis explicabo quibusdam enim libero veniam fugit sit quisquam soluta distinctio? Molestiae eos facere quibusdam dolore doloremque debitis maxime, illo. Optio odit vero porro?</p>
          </div>
        </div>
      </div>
      <div class="spacer-60"></div>

    </div>

      {{> partials/footer}}

  </div>

  {{> partials/scripts}}

</body>
</html>
