<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <span data-content-block="accordionHeader1" data-content="content" data-editable="editable" >
              {{#page.accordionHeader1}}
                  {{& content}}
                {{/page.accordionHeader1}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 1
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent1" data-content="content" data-editable="editable" >
            {{#page.accordionContent1}}
                {{& content}}
              {{/page.accordionContent1}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <span data-content-block="accordionHeader2" data-content="content" data-editable="editable" >
              {{#page.accordionHeader2}}
                  {{& content}}
                {{/page.accordionHeader2}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 2
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent2" data-content="content" data-editable="editable" >
            {{#page.accordionContent2}}
                {{& content}}
              {{/page.accordionContent2}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <span data-content-block="accordionHeader3" data-content="content" data-editable="editable" >
              {{#page.accordionHeader3}}
                  {{& content}}
                {{/page.accordionHeader3}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 3
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent3" data-content="content" data-editable="editable" >
            {{#page.accordionContent3}}
                {{& content}}
              {{/page.accordionContent3}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            <span data-content-block="accordionHeader4" data-content="content" data-editable="editable" >
              {{#page.accordionHeader4}}
                  {{& content}}
                {{/page.accordionHeader4}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 4
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent4" data-content="content" data-editable="editable" >
            {{#page.accordionContent4}}
                {{& content}}
              {{/page.accordionContent4}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            <span data-content-block="accordionHeader5" data-content="content" data-editable="editable" >
              {{#page.accordionHeader5}}
                  {{& content}}
                {{/page.accordionHeader5}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 5
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent5" data-content="content" data-editable="editable" >
            {{#page.accordionContent5}}
                {{& content}}
              {{/page.accordionContent5}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            <span data-content-block="accordionHeader6" data-content="content" data-editable="editable" >
              {{#page.accordionHeader6}}
                  {{& content}}
                {{/page.accordionHeader6}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 6
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent6" data-content="content" data-editable="editable" >
            {{#page.accordionContent6}}
                {{& content}}
              {{/page.accordionContent6}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            <span data-content-block="accordionHeader7" data-content="content" data-editable="editable" >
              {{#page.accordionHeader7}}
                  {{& content}}
                {{/page.accordionHeader7}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 7
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent7" data-content="content" data-editable="editable" >
            {{#page.accordionContent7}}
                {{& content}}
              {{/page.accordionContent7}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            <span data-content-block="accordionHeader8" data-content="content" data-editable="editable" >
              {{#page.accordionHeader8}}
                  {{& content}}
                {{/page.accordionHeader8}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 8
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent8" data-content="content" data-editable="editable" >
            {{#page.accordionContent8}}
                {{& content}}
              {{/page.accordionContent8}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            <span data-content-block="accordionHeader9" data-content="content" data-editable="editable" >
              {{#page.accordionHeader9}}
                  {{& content}}
                {{/page.accordionHeader9}}
                <!-- @if NODE_ENV!='production' -->
                    Accoridon Header 9
                <!-- @endif -->
            </span>
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body content">
          <div data-content-block="accordionContent10" data-content="content" data-editable="editable" >
            {{#page.accordionContent10}}
                {{& content}}
              {{/page.accordionContent10}}
              <!-- @if NODE_ENV!='production' -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora recusandae mollitia inventore fuga quaerat totam id, delectus autem veritatis, tenetur minus provident qui iure in, cupiditate, atque odit unde dolores! Suscipit ea quaerat aliquid cupiditate temporibus eos repellat saepe.</p>
              <!-- @endif -->
          </div>
        </div>
      </div>
    </div>
</div>