<div class="bannerImage__container">
	<div class="loader grid-lines">
		<span class="loading"><span class="loading-inner"></span></span>
		<div class="load-watch">
			<div class="content" data-content-block="bannerImage" data-content="content" data-editable="editable">
			{{#page.bannerImage}}
				{{& content}}
			{{/page.bannerImage}}

			<!-- @if NODE_ENV!='production' -->
				<img src="http://placehold.it/1530x300" alt="">
			<!-- @endif -->
			</div>
		</div>
</div>