<div class="modal fade content-modal" id="modal1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title">
					<!-- @if NODE_ENV!='production' -->
						<h3>Modal 1 Header</h3>
					<!-- @endif -->
				</div>
			</div>
			<div class="modal-body">
				<div class="content">
					<!-- @if NODE_ENV!='production' -->
						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, voluptates!</h3>

						<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam optio, hic perferendis, voluptatem maiores eum voluptas cum similique, delectus, obcaecati vitae in reprehenderit nam quibusdam eius fuga odit iusto rerum!</div>

						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>

						<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dignissimos earum cupiditate consequatur corporis aperiam dicta placeat dolor, quae laboriosam. Dolores, sint, eaque!</div>
					<!-- @endif -->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>