<div class="slider hero">
  <div class="slide">
      <div class="image">
          <div data-content-block="hero1image" data-content="content" data-editable="editable">
            {{#page.hero1image}}
              {{& content}}
            {{/page.hero1image}}

            <!-- @if NODE_ENV!='production' -->
            <img src="http://placehold.it/1140x445" alt="Slide 1">
            <!-- @endif -->
          </div>
      </div>
      <div class="caption">
        <div class="container">
            <div class="content" data-content-block="hero1content" data-content="content" data-editable="editable" >
              {{#page.hero1content}}
                {{& content}}
              {{/page.hero1content}}
              <!-- @if NODE_ENV!='production' -->
                  <h2>Lorem ipsum dolor.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, unde!</p>
                  <p><a href="#" class="btn btn-default">Lorem ipsum.</a></p>
              <!-- @endif -->
            </div>
        </div>
      </div>
  </div>
  <div class="slide">
      <div class="image">
          <div data-content-block="hero2image" data-content="content" data-editable="editable">
            {{#page.hero2image}}
              {{& content}}
            {{/page.hero2image}}

            <!-- @if NODE_ENV!='production' -->
            <img src="http://placehold.it/1140x445/333333/fffff" alt="Slide 1">
            <!-- @endif -->
          </div>
      </div>
      <div class="caption">
        <div class="container">
            <div class="content" data-content-block="hero2content" data-content="content" data-editable="editable" >
              {{#page.hero2content}}
                {{& content}}
              {{/page.hero2content}}
              <!-- @if NODE_ENV!='production' -->
                  <h2>Lorem ipsum dolor.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, unde!</p>
                  <p><a href="#" class="btn btn-primary">Lorem ipsum.</a></p>
              <!-- @endif -->
            </div>
        </div>
      </div>
  </div>
  <div class="slide">
      <div class="image">
          <div data-content-block="hero3image" data-content="content" data-editable="editable">
            {{#page.hero3image}}
              {{& content}}
            {{/page.hero3image}}

            <!-- @if NODE_ENV!='production' -->
            <img src="http://placehold.it/1140x445/999999/333333" alt="Slide 1">
            <!-- @endif -->
          </div>
      </div>
      <div class="caption">
        <div class="container">
            <div class="content" data-content-block="hero3content" data-content="content" data-editable="editable" >
              {{#page.hero3content}}
                {{& content}}
              {{/page.hero3content}}
              <!-- @if NODE_ENV!='production' -->
                  <h2>Lorem ipsum dolor.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, unde!</p>
                  <p><a href="#" class="btn btn-warning">Lorem ipsum.</a></p>
              <!-- @endif -->
            </div>
        </div>
      </div>
  </div>
</div>