<div class="hero__container">
		<div class="slider hero__slider">
			<div class="hero__slide">
					<div class="hero__image">
							<div>
								<!-- @if NODE_ENV!='production' -->
								<img src="/assets/img/hero1.jpg" alt="Slide 1">
								<!-- @endif -->
							</div>
					</div>
					<div class="hero__caption">
						<div class="content">
							<!-- @if NODE_ENV!='production' -->
									<h1>We offer the highest quality ocular prosthesis.</h1>
									<hr>
							<!-- @endif -->
						</div>
					</div>
			</div>
			<div class="hero__slide">
					<div class="hero__image">
							<div>
								<!-- @if NODE_ENV!='production' -->
								<img src="http://placehold.it/1140x445/333333/fffff" alt="Slide 1">
								<!-- @endif -->
							</div>
					</div>
					<div class="hero__caption">
						<div class="content">
							<!-- @if NODE_ENV!='production' -->
									<h2>Lorem ipsum dolor.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, unde!</p>
									<p><a href="#" class="btn btn-primary">Lorem ipsum.</a></p>
							<!-- @endif -->
						</div>
					</div>
			</div>
			<div class="hero__slide">
					<div class="hero__image">
							<div>
								<!-- @if NODE_ENV!='production' -->
								<img src="http://placehold.it/1140x445/999999/333333" alt="Slide 1">
								<!-- @endif -->
							</div>
					</div>
					<div class="hero__caption">
						<div class="content">
							<!-- @if NODE_ENV!='production' -->
									<h2>Lorem ipsum dolor.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, unde!</p>
									<p><a href="#" class="btn btn-warning">Lorem ipsum.</a></p>
							<!-- @endif -->
						</div>
					</div>
			</div>
		</div>
</div>