<banno:ag></banno:ag>

<div class="b-ag">
              <div class="b-ag-inner-test" style="display: block;">
                <table class="b-ag-display">
                  <thead>
                    <tr>
                      <th>Futures</th>
                      <th>M</th>
                      <th>Last</th>
                      <th>Change</th>
                    </tr>
                  </thead>
                  <tbody class="b-ag-table-body">
                    <tr>                
                      <td>                  
                        <span class="b-ag-name">Corn</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-m">S</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-last">550-6</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-change b-ag-loss">-10-0</span>                
                      </td>              
                    </tr>
                    <tr>                
                      <td>                  
                        <span class="b-ag-name">Soybeans</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-m">A</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-last">1448-0</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-change b-ag-loss">-24-0</span>                
                      </td>              
                    </tr>
                    <tr>                
                      <td>                  
                        <span class="b-ag-name">Wheat</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-m">S</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-last">684-6</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-change b-ag-loss">+1-6</span>                
                      </td>              
                    </tr>
                    <tr>                
                      <td>                  
                        <span class="b-ag-name">Milk</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-m">J</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-last">17.39</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-change b-ag-gain">+0.01</span>                
                      </td>              
                    </tr>
                    <tr>                
                      <td>                  
                        <span class="b-ag-name">Feeder Cattle</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-m">A</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-last">150.250</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-change b-ag-gain">+0.125</span>                
                      </td>              
                    </tr>
                    <tr>                
                      <td>                  
                        <span class="b-ag-name">Live Cattle</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-m">A</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-last">121.900</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-change b-ag-loss">-0.025</span>                
                      </td>              
                    </tr>
                    <tr>                
                      <td>                  
                        <span class="b-ag-name">Lean Hogs</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-m">J</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-last">102.000</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-change b-ag-loss">-0.175</span>                
                      </td>              
                    </tr>
                    <tr>                
                      <td>                  
                        <span class="b-ag-name">Cotton</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-m">O</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-last">85.20</span>                
                      </td>                
                      <td>                  
                        <span class="b-ag-change b-ag-gain">+0.02</span>                
                      </td>              
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> 