<footer class="footer b-b-green b-t-green">
	<a href="#" id="scrollTop" class="back-to-top">
		<span class="icon icon-triangle-up" aria-hidden="true"></span> 
		<span class="text">Top</span>
	</a>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 footer-left">
				<div class="footer-logo">
					<span itemscope itemtype="http://schema.org/website">
						<span itemprop="name" class="sr-only">Richardson Ocular Prosthetics</span>
						<a href="/" class="footer-logo" title="Richardson Ocular Prosthetics Homepage" itemprop="url">
							<span class="logotype" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="/assets/img/richardson-ocular-footer-logo.png" alt="Richardson Ocular Prosthetics Secondary Logo" itemprop="url">
							</span>
						</a>
					</span>
				</div>
			</div>
			<div class="col-sm-6 col-md-8 footer-right">
				<nav class="footer-links">
					<ul class="nav justify-content-end">
						{{> nav-links }}
					</ul>
				</nav>
				<div class="copyright text-right">
					<span class="copytext">&copy; Richardson Ocular <span class="copy-date"></span></span>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="screener" aria-hidden="true"></div>