<footer class="footer">
  <div class="container">
      <a href="#" id="scrollTop" class="visible-xs-block">
        <img src="/assets/img/topScroll.png">
      </a>
      <div class="copyright">
        <span class="copytext">
          &copy;<script>
            var d = new Date();
            var year = d.getFullYear();
            document.write(year);
          </script> YourFI. 
        </span>
        <span class="fdic">Member FDIC.</span>
        <span class="ehl">
          Equal Housing Lender <img src="/assets/img/ehl.png" srcset="/assets/img/ehl.png 1x, /assets/img/ehl@2x.png 2x" alt="Equal Housing Lender" class="ehl">
        </span> 
      </div>
  </div>
</footer>