<header class="header">
	<div class="container">
		<div class="row clearfix">
			<div class="col-sm-6 header-left">
				<span itemscope itemtype="http://schema.org/website">
					<span itemprop="name" class="sr-only">yourSite</span>
					<a href="/" class="logo pull-left" title="yourSite, Nashville, TN" itemprop="url">
						<span class="logotype" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
						<img src="https://placehold.it/200x30/333333/ffffff" alt="yourSite" itemprop="url">
						</span>
					</a>
				</span>
			</div>
			<div class="col-sm-6 header-right">
			</div>
		</div>
	</div>
</header>