<header class="header">
	<div class="container">
		<div class="row clearfix">
			<div class="col-sm-6 header-left">
				<span itemscope itemtype="http://schema.org/BankOrCreditUnion">
					<span itemprop="name" class="sr-only">YourFI</span>
					<a href="/" class="logo pull-left" title="YourFI, Cedar Falls, IA" itemprop="url">
						<span class="logotype" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
						<img src="/assets/img/banno-logo.svg" alt="YourFI" itemprop="url">
						</span>
					</a>
				</span>
			</div>
			<div class="col-sm-6 header-right">
				<div class="toggle-login visible-xs">Login</div>
				{{> olb}}
			</div>
		</div>
	</div>
</header>