<header class="header b-b-green">
	<div class="container">
		<div class="row clearfix">
			<div class="col-sm-6 col-md-4 header-left">
				<span itemscope itemtype="http://schema.org/website">
					<span itemprop="name" class="sr-only">Richardson Ocular Prosthetics</span>
					<a href="/" class="logo" title="Richardson Ocular Prosthetics, Nashville, TN" itemprop="url">
						<span class="logotype" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
						<img src="/assets/img/richardson-ocular-logo.png" alt="Richardson Ocular Prosthetics" itemprop="url">
						</span>
					</a>
				</span>
			</div>
			<div class="col-sm-6 col-md-8 header-right">
				{{> nav}}
			</div>
		</div>
	</div>
</header>