<li class="nav-item">
	<a class="nav-link active" href="/services">Services</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/occular-prosthetics-101">Ocular Prosthetics 101</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/testimonials">Testimonials</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/about-us">About Us</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/contact-us">Contact Us</a>
</li>