<nav class="nav">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
			<spna class="menu-text">MENU</spna>
			<span class="menu-bars">
				<span class="icon-bar one"></span>
				<span class="icon-bar two"></span>
				<span class="icon-bar three"></span>
			</span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav justify-content-end">
				{{> nav-links}}
			</ul>
		</div>
	</div>
</nav>