<div class="online-banking-container">
		<div class="row">
			<form class="clearfix" action="" autocomplete="off" method="post" data-parsley-validate>
					<div class="welcome-text">Online Banking Login</div>
					<div class="col-sm-5">
						<div class="form-group"><label for="olbUsername" class="sr-only">Username</label><input type="text" name="username" placeholder="Username" title="Username" required id="olbUsername"></div>
					</div>
					<div class="col-sm-5">
						<div class="form-group"><label for="olbPassword" class="sr-only">Password</label><input type="password" name="password" placeholder="Password" title="Password" id="olbPassword" required></div>
					</div>
					<div class="col-sm-2">
						<div class="form-group"><button type="submit" class="btn btn-primary">Login</button></div>
					</div>
					<div class="col-xs-12">
						<ul class="login-links list-inline">
							<li><a href="#">Forgot Password?</a></li>
							<li><a href="#">Enroll</a></li>
						</ul>
					</div>
			</form>
		</div>
</div>
