<script src="/assets/js/jquery-1.10.1.min.js"></script>
<!-- @if NODE_ENV!='live' && NODE_ENV!='production' -->
	<script defer src="/scripts/bootstrap/bootstrap.js"></script>
	<script defer src="/scripts/plugins/bootbox.js"></script>
	<script defer src="/scripts/plugins/jquery.placeholder.js"></script>
	<script defer src="/scripts/plugins/plugins.js"></script>
	<script defer src="/scripts/plugins/parsley.js"></script>
	<script defer src="/scripts/plugins/slick.js"></script>
	<script defer src="/scripts/plugins/dropdown.js"></script>
	<script defer src="/scripts/lib/modernizr.custom.80639.js"></script>
	<script defer src="/scripts/custom-functions.js"></script>
	<script defer src="/scripts/sliders.js"></script>
	<script defer src="/scripts/script.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV == 'production' -->
<script defer src="/assets/js/script.min.js?v=@version@"></script>
<!-- @endif -->
<!-- @if NODE_ENV == 'live' -->
<script defer src="/assets/js/script.min.js?v=@version@"></script>
<!-- @endif -->
