<script src="/assets/js/jquery-1.10.1.min.js"></script>
<!-- @if NODE_ENV!='production' -->
	<script defer src="/scripts/bootstrap/collapse.js"></script>
	<script defer src="/scripts/bootstrap/dropdown.js"></script>
	<script defer src="/scripts/bootstrap/modal.js"></script>
	<script defer src="/scripts/bootstrap/affix.js"></script>
	<script defer src="/scripts/bootstrap/tab.js"></script>
	<script defer src="/scripts/bootstrap/transition.js"></script>
	<script defer src="/scripts/plugins/bootbox.js"></script>
	<script defer src="/scripts/plugins/jquery.placeholder.js"></script>
	<script defer src="/scripts/plugins/plugins.js"></script>
	<script defer src="/scripts/plugins/parsley.js"></script>
	<script defer src="/scripts/plugins/slick.js"></script>
	<script defer src="/scripts/plugins/dropdown.js"></script>
	<script defer src="/scripts/lib/modernizr.custom.80639.js"></script>
	<script defer src="/scripts/script.js"></script>
<!-- @endif -->

<!-- @if NODE_ENV ='production' -->
<script defer src="/assets/js/script.min.js"></script>
<!-- @endif -->
