// FOOTER STYLES
// =========================================================================================================

footer.footer {
	background:$gray-lighter;
	padding:40px 0;
	margin-top:40px;
	.container {

	}
	.banno-menu {
		@extend .list-inline;
		@media (max-width:$screen-xs-max) {
			li {
				display:block;
				text-align:center;
				margin-bottom:10px;
			}
		}
	}
}