// Header
// =========================================================================================================

footer.footer {
	background:$gray-lighter;
	padding:40px 0;
	margin-top:40px;
	.container {

	}
}