$navbar-padding-horizontal:  20px;
$navbar-height: 50px;
$navbar-padding-vertical: 20px;
$navbar-toggle-border-color: $gray-400;
$navbar-toggle-icon-bar-bg: $gray-400;
$navbar-toggle-hover-bg: $gray-600;
$nav-link-vertical-padding: 15px;
$nav-link-horizontal-padding: 15px;
$navbar-link-hover-color: $white;
$navbar-link-hover-bg: $primary;

.navbar {
	position: relative;
	min-height: $navbar-height;
	margin-bottom: $navbar-height / 2;
	border: 1px solid transparent;
	background-color: $gray-100;
	border-color: $gray-200;
	// Prevent floats from breaking the navbar
	@include clearfix;

	// @media (min-width: $grid-float-breakpoint) {
	// border-radius: $navbar-border-radius;
	// }
}
nav.nav {
	@include media-breakpoint-up(md) {
		position:relative;
		top:20px;
	}
}


// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
  @include clearfix;
}

// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.

.container, .container-fluid {
	> .navbar-header,
	> .navbar-collapse {
		margin-right: -$navbar-padding-horizontal;
		margin-left:  -$navbar-padding-horizontal;
		@include media-breakpoint-up(sm) {
			margin-right: 0;
			margin-left:  0;
		}
	}
}

.navbar-collapse {
	overflow-x: visible;
	padding-right: $navbar-padding-horizontal;
	padding-left:  $navbar-padding-horizontal;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	@include clearfix;
	-webkit-overflow-scrolling: touch;

	&.in {
	overflow-y: auto;
	}
}

// Custom Menu CSS
.navbar-collapse .nav{
	margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);
	padding: 0;
	list-style: none;

	> li {
		position: relative;
		display: block;

		> a, > span {
			position: relative;
			display: block;
			padding: $nav-link-vertical-padding $nav-link-horizontal-padding;
			cursor: pointer;
			line-height: $line-height-lg;
			font-weight:900;
			color: $black;
			&:focus {
				@include tab-focus;
			}
			@include transition-all(0.15s);
		}
	}
}

// medium down
// From 767px and down
@include media-breakpoint-down(sm) {
	// Navbar toggle
	//
	// Custom button for toggling the `.navbar-collapse`, powered by the collapse
	// JavaScript plugin.

	.navbar-toggle {
		position: relative;
		float: right;
		margin-right: $navbar-padding-horizontal;
		padding: 9px 10px;
		background-color: transparent;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 1px solid transparent;
		border-radius: $border-radius;
		border-color: $navbar-toggle-border-color;

		// We remove the `outline` here, but later compensate by attaching `:hover`
		// styles to `:focus`.
		&:focus {
			outline: 0;
		}

		&:hover,
		&:focus {
			background-color: $navbar-toggle-hover-bg;
		}

		// Bars
		.icon-bar {
			display: block;
			width: 22px;
			height: 2px;
			border-radius: 1px;
			background-color: $navbar-toggle-icon-bar-bg;
		}
		.icon-bar + .icon-bar {
			margin-top: 4px;
		}
	}

	.navbar-collapse .nav {
		.open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			box-shadow: none;

			> li > a, > li > span {
				line-height: $line-height-lg;
				padding: 5px 15px 5px 25px;
				&:hover,
				&:focus {
					background-image: none;
				}
			}

			&.active {
				display: block;
				margin: 0 15px;
			}
		}
	}
}

// medium up
// From 768px and up
@include media-breakpoint-up(md) {
	.navbar-header {
		float: left;
	}

	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none;
		padding: 0;

		&.collapse {
			display: block !important;
			visibility: visible !important;
			height: auto !important;
			padding-bottom: 0; // Override default setting
			overflow: visible !important;
		}

		&.in {
			overflow-y: visible;
		}

		// Undo the collapse side padding for navbars with containers to ensure
		// alignment of right-aligned contents.
		.navbar-fixed-top &,
		.navbar-static-top &,
		.navbar-fixed-bottom & {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.navbar-toggle {
		display: none;
	}

	.navbar-collapse .nav {
		margin: 0;

		> li {
			float: left;
			> a, > span {
				padding-top:    $navbar-padding-vertical;
				padding-bottom: $navbar-padding-vertical;

				// Change top most links color/background
				&:hover,
				&:focus {
					color: $navbar-link-hover-color;
					background-color: $navbar-link-hover-bg;
				}
			}
			.menu-group {
				position:relative;
				.dropdown-menu {
					left:100%;
					top:0;
				}
			}
			.group-item {
				display:block;
				position:relative;
				padding: 3px 20px;
			}
		}
	}
}

nav.navbar {
	.nav {
		>li {
			>a,>span {
				//styles for first tier 

			}
		}
	}
}